{% extends '@User/page.html.twig' %}

{% set title = 'Permissions list'|trans %}

{% block head_title %}
    head title
{#    {% trans %}Users list{% endtrans%} | {% trans %}CHS service{% endtrans %}#}
{% endblock %}

{% block body_title %}<h3>{% trans %}Permissions list{% endtrans %}</h3>{% endblock %}

{% block body_content %}

    <div class="container-fluid">
        <div class="row">

            {# Хлебные крошки #}
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs-list">
                        <li class="breadcrumbs-item">
                            <a class="breadcrumbs-link" href="/">{% trans %}Main page{% endtrans %}</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item-active">
                            {% trans %}Permissions{% endtrans %}
                        </li>
                    </ul>
                </div>
            </div>

            {% block body_content_flash %}
                {{ include('@User/flash.html.twig') }}
            {% endblock %}

            {# Заголовок и кнопка "добавить" #}
            <div class="col-12">
                <div class="title">
                    <h1>{% trans %}Permissions list{% endtrans %}</h1>
{#                    {% if is_granted('CHS chs add') %}#}
{#                        <a href="{{ path('chs_add', { 'fromUrl': currentPath }) }}" class="button button-solid button-primary" type="button">#}
{#                            {% trans %}Add chs{% endtrans %}#}
{#                        </a>#}
{#                    {% endif %}#}
                </div>
            </div>

            <div class="col-12">
                <div class="tabnav">
                    {{ knp_menu_render('user.list', {'currentAsLink': false, 'template': '@User/menu/tab.html.twig' }) }}
                </div>
            </div>

            {# кнопка показа/скрытия фильтров #}
{#            <div class="col-12">#}
{#                <div class="d-flex align-items-start justify-content-end mb-24">#}
{#                    <button type="button" class="button button-icon" data-toggle-filter data-filter="#filter">#}
{#                        <i class="icon icon-filters"></i>#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}

            {# фильтры #}
{#            {% if filterForm is defined %}#}
{#                <div class="col-12">#}
{#                    {% set filtersClass = (filtersIsEmpty is defined and filtersIsEmpty == true) ? ' d-none' : '' %}#}
{#                    {% set filterFormView = filterForm.createView %}#}
{#                    <div class="filter{{ filtersClass }}" id="filter">#}
{#                        {{ form_start(filterFormView) }}#}
{#                        {{ form_errors(filterFormView) }}#}
{#                        <div class="row pb-24">#}
{#                            <div class="col-2">#}
{#                                <div class="field">#}
{#                                    <div class="field-icon field-icon-prefix">#}
{#                                        <i class="icon icon-search field-icon-start"></i>#}
{#                                        {{ form_widget(filterFormView.name) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-2">#}
{#                                <div class="field">#}
{#                                    <div class="field-icon field-icon-prefix">#}
{#                                        <i class="icon icon-search field-icon-start"></i>#}
{#                                        {{ form_widget(filterFormView.zone) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-2">#}
{#                                <div class="field">#}
{#                                    <div class="field-icon field-icon-prefix">#}
{#                                        <i class="icon icon-search field-icon-start"></i>#}
{#                                        {{ form_widget(filterFormView.externalCode) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-2">#}
{#                                <div class="field">#}
{#                                    <div class="field-icon field-icon-prefix">#}
{#                                        <i class="icon icon-search field-icon-start"></i>#}
{#                                        {{ form_widget(filterFormView.regionCode) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-2">#}
{#                                <div class="field">#}
{#                                    <div class="field-icon field-icon-prefix">#}
{#                                        <i class="icon icon-search field-icon-start"></i>#}
{#                                        {{ form_widget(filterFormView.status) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-2">#}
{#                                <div class="field">#}
{#                                    <div class="field-icon field-icon-prefix">#}
{#                                        <i class="icon icon-search field-icon-start"></i>#}
{#                                        {{ form_widget(filterFormView.character) }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-2 pt-8">#}
{#                                {{ form_widget(filterFormView.submit) }}#}
{#                                {% if not filtersIsEmpty %}#}
{#                                    <span class="ml-16">#}
{#                                            {{ form_widget(filterFormView.reset) }}#}
{#                                        </span>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}

{#                        {{ form_end(filterFormView, { render_rest: false } ) }}#}
{#                    </div>#}
{#                </div>#}
{#            {% endif %}#}

            <div class="col-12">
                {% if permissions|length > 0 %}
                    <div class="table-container">
                        <table class="table-empty-cells td-valign-top" data-fix-right-col="true">
                            <thead>
                            <th>{% trans %}permission name{% endtrans %}</th>
                            <th>{% trans %}permission title{% endtrans %}</th>
                            <th>{% trans %}permission description{% endtrans %}</th>
                            <th>&nbsp;</th>
                            </thead>
                            <tbody>
                            {% for permission in permissions %}
                                <tr>
                                    <td>{{ permission.name }}</td>
                                    <td>{{ permission.title }}</td>
                                    <td>{{ permission.description }}</td>

                                    <td class="text-right">

                                        <a class="td-link" href="{{ path('permission_view', { 'id': permission.id, 'fromUrl': currentPath }) }}">
                                            <i class="icon icon-eye"></i>
                                        </a>

                                        <a class="td-link" href="{{ path('permission_edit', { 'id': permission.id, 'fromUrl': currentPath }) }}">
                                            <i class="icon icon-pencil"></i>
                                        </a>

{#                                        <a class="td-link" href="{{ path('user_delete', { 'id': user.id, 'fromUrl': currentPath }) }}">#}
{#                                            <i class="icon icon-trash"></i>#}
{#                                        </a>#}

                                        <a class="td-link"
                                           href="#"
                                           data-toggle="modal"
                                           data-target="#confirm-action"
                                           data-href="{{ path('permission_delete', {
                                               'id': permission.id,
                                               'fromUrl': currentPath
                                           }) }}"
                                           data-body="Вы уверены, что хотите удалить пермишн {{ permission.name }}?"
                                           data-ok="{% trans %}Delete{% endtrans %}"
                                           data-okclass="button-danger"
                                        >
                                            <i class="icon icon-trash"></i>
                                        </a>



{#                                        {% if is_granted('CHS chs view') %}#}
{#                                            <a class="td-link" href="{{ path('chs_view', { 'id': chs.id, 'fromUrl': currentPath }) }}">#}
{#                                                <i class="icon icon-eye"></i>#}
{#                                            </a>#}
{#                                        {% endif %}#}
{#                                        {% if is_granted('CHS chs edit') %}#}
{#                                            <a class="td-link" href="{{ path('chs_edit', { 'id': chs.id, 'fromUrl': currentPath }) }}">#}
{#                                                <i class="icon icon-pencil"></i>#}
{#                                            </a>#}
{#                                        {% endif %}#}
{#                                        {% if is_granted('CHS chs delete') %}#}
{#                                            <a class="td-link"#}
{#                                               data-toggle="modal"#}
{#                                               data-target="#confirm-action"#}
{#                                               data-href="{{ path('chs_delete', {#}
{#                                                   'id': chs.id,#}
{#                                                   'fromUrl': currentPath#}
{#                                               }) }}"#}
{#                                               data-body="Вы уверены, что хотите удалить ЧС<br>&laquo;{{ chs.name|raw }}&raquo;?"#}
{#                                               data-ok="{% trans %}Delete{% endtrans %}"#}
{#                                               data-okclass="button-danger"#}
{#                                            >#}
{#                                                <i class="icon icon-trash"></i>#}
{#                                            </a>#}
{#                                        {% endif %}#}


                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    {% trans %}The list is empty.{% endtrans %}
{#                    {% if not canSeeSomething %}#}
{#                        <div class="alert alert-danger" role="alert" style="width:50%;">#}
{#                            {% trans %}User has no region.{% endtrans %}#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <p class="mb-0 mt-3">#}
{#                            {% if ((filtersIsEmpty is not defined) or (filtersIsEmpty == true)) %}#}
{#                                {% trans %}The list is empty.{% endtrans %}#}
{#                            {% else %}#}
{#                                {% trans %}No results found.{% endtrans %}#}
{#                            {% endif %}#}
{#                        </p>#}
{#                    {% endif %}#}
                {% endif %}

            </div>

            <div class="col-12">
                <div class="pagenav">
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            {{ include('@User/helpers/pagenavCounter.html.twig', { 'entities': permissions } ) }}
                            {{ include('@User/helpers/pagenavResults.html.twig', {
                                'currentLimit': currentLimit,
                                'limitsList': limitsList
                            } ) }}
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="pagenav-pagination">
                                {{ knp_pagination_render(permissions) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

